:root {

    /* Colors */
    --color-primary: #262626;
    --color-secondary: #6c5c3f;
    --color-tertiary: #FFFFFF;
  
  
    /* Background */
    background-color: var(--color-primary);
  
    /* Text */
    color: var(--color-tertiary);
  
    
  }

.header{
    display: flex;
    justify-content: space-between;
    
}

h1{
    margin: auto;
}

.nav {
    background-color: var(--color-secondary);
  }
  
  nav {
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center;    /* Centre les éléments verticalement */
  }
  
  ul {
    display: flex;
    list-style-type: none;  /* Retire les puces des listes */
    padding: 0;
    margin: 0;
  }
  
  li {
    margin: 0 15px;         /* Espace entre les éléments */
    padding: 1rem;
  }
  
  a {
    color:  var(--color-tertiary);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  