/* Styles pour le composant Patrimoines */
/* Root */
:root {

    /* Colors */
    --color-primary: #262626;
    --color-secondary: #6c5c3f;
    --color-tertiary: #FFFFFF;
  
  
    /* Background */
    background-color: var(--color-primary);
  
    /* Text */
    color: var(--color-tertiary);
  
    
}
.patrimoines {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.patrimoines table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.patrimoines th,
.patrimoines td {
    border: 1px solid var(--color-secondary);
    padding: 8px;
    text-align: left;
}

.patrimoines th {
    background-color: var(--color-secondary);
    font-weight: bold;
}

.patrimoines tbody tr{
    background-color: #f9f9f9;
}

.patrimoines td {
    font-size: 0.9rem;
    color: var(--color-primary);
}
